# Ignore everything in root
/*

# Un-ignore necessary directories/files
!/themes
!/plugins
!.gitignore

# Ignore everything inside themes
/themes/*

# Un-ignore duc-bds theme
!/themes/duc-bds

# Ignore everything inside plugins
/plugins/*

# Un-ignore jay-core plugin
!/plugins/jay-core

